   <section class="vbox bg-white">
    <header class="header b-b b-light hidden-print">
      <button href="#" class="btn btn-sm btn-info pull-right" onClick="window.print();">Imprimir</button>
      <p>Formulariod de registro</p>
    </header>
    <section class="scrollable wrapper">
      <img src="linker/images/logo200.jpg" height="55" >
      <div class="row">
        <div class="col-xs-6">
          <p>www.ubitaxi.net</p>
          <p>Edif. Montielco piso 5 oficina 4<br>
            av 5 de julio Maracaibo<br>
            Venezuela
          </p>
          <p>
            Telefono:  0414-6208056<br>
            email:  hola@ubitaxi.net
          </p>
        </div>
        <div class="col-xs-6 text-right">
         
          <img style="
          border-radius: 50%;
          " src="<%- driver.dir_picture %><%- driver.picture %>" height="120" >           
        </div>
      </div>          
      <div class="well m-t">
        <div class="row">
          <div class="col-xs-6">
            <strong>Datos personales:</strong>
            <h4><%- driver.name %> <%- driver.lastname %></h4>
            <p>

             <i class="i i-phone2"> </i> <%- driver.phone %><br>
             <i class="i i-mail2"> </i> <%- driver.email %><br>
             <i class="fa fa-key"> </i> <%- driver.password %><br>
             <i class="i i-docs"> </i> <%- driver.ci %><br>                      
             <i class="i i-heart"> </i> <%- driver.birthday %><br>
             <i class="i i-home"> </i> <%- driver.address %><br>
             <i class="i i-local"> </i> <%- driver.city %> - <%- driver.country %><br><br>
            </p>
          </div>
          <div class="col-xs-6">
            <strong>Datos del Vehiculo:</strong>

            <p>
              <%- driver.car.brand %> - <%- driver.car.model %>  <br>
              A침o: <%- driver.car.year %>  <br>
              Color: <%- driver.car.color %>  <br>
              Placas : <%- driver.car.plate %>  <br>
              Capacidad pasajeros : <%- driver.car.cap %>  <br>
              Tipo de vehculo : <%- driver.car.type %>  <br>
              Puertas : <%- driver.car.door %>  <br>
              Serial Carroceria : <%- driver.car.serial %>  <br>
              Due침o del vehiculo : <%- driver.car.owner %>  <br>


            </p>
          </div>
        </div>
      </div>
      <p class="m-t m-b">Fecha de registro: <strong id="fechaDeRegistro"></strong><br>
        Estatus en el sistema: 


       <% if (driver.isActive == true) {%>
       <span class="label bg-success">Activo</span>
       <%  } else{ %>
       <span class="label bg-danger">Inactivo</span>
       <% };  %><br>

     </p>
     <div class="line"></div>
     <table class="table">
      <thead>
        <tr>
          <th width="60">Cantidad</th>
          <th>Descripci칩n</th>
          <th width="140">PRECIO UNIT.</th>
          <th width="90">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Inscripci칩n a Ubitaxi</td>
          <td>1.500,00</td>
          <td>1.500,00</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Mensualidad plan inicial</td>
          <td>200,00</td>
          <td>1.200,00</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right"><strong>Subtotal</strong></td>
          <td>Bs. 2700,00</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right no-border"><strong>Descuento</strong></td>
          <td>Bs. 2.700,00</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right no-border"><strong>I.V.A</strong></td>
          <td>Bs. 0.00</td>
        </tr>
        <tr>
          <td colspan="3" class="text-right no-border"><strong>Total</strong></td>
          <td><strong>Bs. 00,00</strong></td>
        </tr>
      </tbody>
    </table>              
  </section>
</section>


        <script type="text/javascript">
      //<%- driver.createdAt %>
      window.onload = function ()
      {
 
       $('#fechaDeRegistro').html(moment('<%- driver.createdAt %>').lang('es').format('LLLL'));
      }   
       </script>


