  <section class="row m-b-md">
                    <div class="col-sm-6">
                      <h3 class="m-b-xs text-black">Dashboard</h3>
                     
                    </div>
                 
                  </section>

  <div class="row">
                    <div class="col-sm-6">
                      <div class="panel b-a">
                        <div class="row m-n">
                          <div class="col-md-6 b-b b-r">
                            <a href="#" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                                <i class="fa  fa-group fa-1x text-white"></i>
                              </span>
                              <span class="clear">
                                <span class="h3  timer block m-t-xs text-primary" data-start='0' data-from='0' data-to='<%- data.pasajeros %>' data-speed='2000' data-refresh-interval='10'>0</span>                          
                                <small class="text-muted text-u-c">Pasajeros</small>
                              </span>
                            </a>
                          </div>
                          <div class="col-md-6 b-b">
                            <a href="#" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                <i class="fa fa-rocket  text-white"></i>
                              </span>
                              <span class="clear">
                                 <span class="h3  timer block m-t-xs text-primary" data-start='0' data-from='0' data-to='<%- data.taxistas %>' data-speed='2000' data-refresh-interval='10'>0</span>

                             
                                <small class="text-muted text-u-c">Taxistas</small>
                              </span>
                            </a>
                          </div>
                          <div class="col-md-6 b-b b-r">
                            <a href="#" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
                                <i class="fa fa-thumbs-o-down text-white"></i>
                              </span>
                              <span class="clear">
                               <span class="h3  timer block m-t-xs text-primary" data-start='0' data-from='0' data-to='<%- data.CanceladosTaxista %>' data-speed='2000' data-refresh-interval='10'>0</span>
                             
                                <small class="text-muted text-u-c">Servicios Cancelados</small>
                              </span>
                            </a>
                          </div>
                          <div class="col-md-6 b-b">
                            <a href="#" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                                <i class="fa fa-thumbs-o-up text-white"></i>
                              </span>
                              <span class="clear">
                                
                                <span class="h3  timer block m-t-xs text-primary" data-start='0' data-from='0' data-to='<%- data.serviciosCompletados %>' data-speed='2000' data-refresh-interval='10'>0</span>
                                <small class="text-muted text-u-c">Servicios Completados</small>
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="panel b-a">
                        <div class="panel-heading no-border bg-primary lt text-center">
                          <a href="#">
                            <i class="fa fa-facebook fa fa-3x m-t m-b text-white"></i>
                          </a>
                        </div>
                        <div class="padder-v text-center clearfix">                            
                          <div class="col-xs-6 b-r">
                            <div class="h3 font-bold">42k</div>
                            <small class="text-muted">Friends</small>
                          </div>
                          <div class="col-xs-6">
                            <div class="h3 font-bold">90</div>
                            <small class="text-muted">Feeds</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="panel b-a">
                        <div class="panel-heading no-border bg-info lter text-center">
                          <a href="#">
                            <i class="fa fa-twitter fa fa-3x m-t m-b text-white"></i>
                          </a>
                        </div>
                        <div class="padder-v text-center clearfix">                            
                          <div class="col-xs-6 b-r">
                            <div class="h3 font-bold">27k</div>
                            <small class="text-muted">Tweets</small>
                          </div>
                          <div class="col-xs-6">
                            <div class="h3 font-bold">15k</div>
                            <small class="text-muted">Followers</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 hide">
                      <section class="panel b-a">
                        <header class="panel-heading b-b b-light">
                          <ul class="nav nav-pills pull-right">
                            <li>
                              <a href="ajax.pie.html" class="text-muted" data-bjax data-target="#b-c">
                                <i class="i i-cycle"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="panel-toggle text-muted">
                                <i class="i i-plus text-active"></i>
                                <i class="i i-minus text"></i>
                              </a>
                            </li>
                          </ul>
                          Connection
                        </header>
                        <div class="panel-body text-center bg-light lter" id="b-c">
                          <div class="easypiechart inline m-b m-t" data-percent="60" data-line-width="4" data-bar-Color="#23aa8c" data-track-Color="#c5d1da" data-color="#2a3844" data-scale-Color="false" data-size="120" data-line-cap='butt' data-animate="2000">
                            <div>
                              <span class="h2 m-l-sm step"></span>%
                              <div class="text text-xs">completed</div>
                            </div>
                          </div>
                        </div>
                      </section>                      
                    </div>
                  </div> 

                    <div class="col-sm-6 portlet">
              <section class="panel panel-success portlet-item">
                <header class="panel-heading">
                  Conductores Conectados
                </header>
                <ul class="list-group alt">
                  <li class="list-group-item">
                    <div class="media">
                      <span class="pull-left thumb-sm"><img src="images/a1.png" alt="John said" class="img-circle"></span>
                      <div class="pull-right text-success m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <div><a href="#">Chris Fox</a></div>
                        <small class="text-muted">about 2 minutes ago</small>
                      </div>
                    </div>
                  </li>

                  
                  <li class="list-group-item">
                    <div class="media">
                      <span class="pull-left thumb-sm"><img src="images/a2.png" alt="John said" class="img-circle"></span>
                      <div class="pull-right text-muted m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <div><a href="#">Amanda Conlan</a></div>
                        <small class="text-muted">about 2 hours ago</small>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="pull-left thumb-sm"><img src="images/a3.png" alt="John said" class="img-circle"></span>
                      <div class="pull-right text-warning m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <div><a href="#">Dan Doorack</a></div>
                        <small class="text-muted">3 days ago</small>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="media">
                      <span class="pull-left thumb-sm"><img src="images/a4.png" alt="John said" class="img-circle"></span>
                      <div class="pull-right text-danger m-t-sm">
                        <i class="fa fa-circle"></i>
                      </div>
                      <div class="media-body">
                        <div><a href="#">Lauren Taylor</a></div>
                        <small class="text-muted">about 2 minutes ago</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>

            </div>
                  

              <%- block('localScripts', '<script TYPE="text/javascript"> $(".timer").each(count); function count(options) {var $this = $(this); options = $.extend({}, options || {}, $this.data("countToOptions") || {}); $this.countTo(options); } </script>') %>

